@model VegeMoteur.App.Database.Verification

@{
    ViewBag.Title = "Details";
}

<h4>Details | Verification</h4>

<div>
    <hr />
    <table class="table table-hover">
		<tr>
			<th width="15%">
				@Html.DisplayNameFor(model => model.Description)
			</th>

			<td>
				@Html.DisplayFor(model => model.Description)
			</td>
		</tr>

		<tr>
			<th width="15%">
				@Html.DisplayNameFor(model => model.InstrumentSpecifique.Code)
			</th>

			<td>
				@Html.DisplayFor(model => model.InstrumentSpecifique.Code)
			</td>
		</tr>

    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
