@model VegeMoteur.App.Database.InstrumentSpecifique

@{
    ViewBag.Title = "Details";
}

<h4>Details | InstrumentSpecifique</h4>

<div>
    <hr />
    <table class="table table-hover">
		<tr>
			<th width="15%">
				@Html.DisplayNameFor(model => model.Code)
			</th>

			<td>
				@Html.DisplayFor(model => model.Code)
			</td>
		</tr>

		<tr>
			<th width="15%">
				@Html.DisplayNameFor(model => model.Precision)
			</th>

			<td>
				@Html.DisplayFor(model => model.Precision)
			</td>
		</tr>

		<tr>
			<th width="15%">
				@Html.DisplayNameFor(model => model.Type)
			</th>

			<td>
				@Html.DisplayFor(model => model.Type)
			</td>
		</tr>

		<tr>
			<th width="15%">
				@Html.DisplayNameFor(model => model.EtenduMax)
			</th>

			<td>
				@Html.DisplayFor(model => model.EtenduMax)
			</td>
		</tr>

		<tr>
			<th width="15%">
				@Html.DisplayNameFor(model => model.EtenduMin)
			</th>

			<td>
				@Html.DisplayFor(model => model.EtenduMin)
			</td>
		</tr>

		<tr>
			<th width="15%">
				@Html.DisplayNameFor(model => model.Unite)
			</th>

			<td>
				@Html.DisplayFor(model => model.Unite)
			</td>
		</tr>

		<tr>
			<th width="15%">
				@Html.DisplayNameFor(model => model.Caractere)
			</th>

			<td>
				@Html.DisplayFor(model => model.Caractere)
			</td>
		</tr>

		<tr>
			<th width="15%">
				@Html.DisplayNameFor(model => model.Resolution)
			</th>

			<td>
				@Html.DisplayFor(model => model.Resolution)
			</td>
		</tr>

		<tr>
			<th width="15%">
				@Html.DisplayNameFor(model => model.FrequenceCalibrage)
			</th>

			<td>
				@Html.DisplayFor(model => model.FrequenceCalibrage)
			</td>
		</tr>

		<tr>
			<th width="15%">
				@Html.DisplayNameFor(model => model.FrequenceEtallonage)
			</th>

			<td>
				@Html.DisplayFor(model => model.FrequenceEtallonage)
			</td>
		</tr>

		<tr>
			<th width="15%">
				@Html.DisplayNameFor(model => model.DateMiseEnService)
			</th>

			<td>
				@Html.DisplayFor(model => model.DateMiseEnService)
			</td>
		</tr>

		<tr>
			<th width="15%">
				@Html.DisplayNameFor(model => model.InstrumentGeneral.Designation)
			</th>

			<td>
				@Html.DisplayFor(model => model.InstrumentGeneral.Designation)
			</td>
		</tr>

		<tr>
			<th width="15%">
				@Html.DisplayNameFor(model => model.Marque.Nom)
			</th>

			<td>
				@Html.DisplayFor(model => model.Marque.Nom)
			</td>
		</tr>

		

		<tr>
			<th width="15%">
				@Html.DisplayNameFor(model => model.PosteTravail.Nom)
			</th>

			<td>
				@Html.DisplayFor(model => model.PosteTravail.Nom)
			</td>
		</tr>

    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
